body{
    background-color: orange;
    margin: 0px;
}
#container{
    display: flex;
    flex-wrap: wrap;
    position:absolute;
    top :10%;
    width: 100%;
}
.left-div{
  position: relative;
  top:0%;
  margin: 0%;
    width: 15%;
    height: 200px;
    background-color: white;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    text-align: center;
    
}
.left-div span{
    position: relative;
    top: 90px;

}   
.main-div{
    border-radius: 25px;
    height: 200px;
    width: 40%;
    background-color:lightgrey;
    margin: 5%;
    display: flex;
    flex-wrap: wrap;
}
 #delete{
    position: absolute;
    top: 3%;
    left: 93%;
}
.right-div{
    position: relative;
  top:0%;
  margin: 0%;
    width: 85%;
    height: 200px;
    
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;

}
#discription{
    position: absolute;
   top: 89%;
    left: 93%;
}
.right-div p{
   white-space:pre-wrap;
    height:90px;
    width: 90%; 
    overflow: hidden;
    text-overflow:clip; 
    margin-left: 2%;
}
#modal{
    width: fit-content;
    height: fit-content;
    padding: 40px;
    z-index:2;
    position: absolute;
    top:40%;
    left: 40%;
    background-color: white;
    display:none;
}
#opaq{
    position: fixed;
    background-color: rgba(0,0,0,0.7);
    z-index: 2;
    height: 100%;
    width: 100%;
    display: none;

}
.right-div h2{
    font-family: 'Bubblegum Sans', cursive;
}